* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #A9D6E5;
    color: #333;
}

#container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#banner {
    background-color: #E3E3E3;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

#banner img {
    width: 100px;
}

#main_content {
    padding: 20px;
}

#messages {
    margin-bottom: 20px;
    color: red;
    font-size: 0.9em;
}

.userButton {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#loginButton {
    background-color: #005b96;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#loginButton:hover {
    background-color: #003f6f;
}

#helper_buttons {
    margin-top: 20px;
    text-align: center;
}

#registerButton, #resetPassword {
    background-color: #A9D6E5;
    border: 1px solid #ddd;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

#registerButton:hover, #resetPassword:hover {
    background-color: #e4e4e4;
}

#footer {
    text-align: center;
    padding: 10px 0;
    background-color: #A9D6E5;
    border-radius: 0 0 8px 8px;
}

#main_page_link {
    color: white;
    text-decoration: none;
}