* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #A9D6E5;
}

#container_pc {
    width: 70%;
    margin: 0 auto;
}

#banner {
    background-color: #E3E3E3;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

#banner img {
    width: 100px;
}

#messages {
    color: red;
}

#main_content {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #005b96;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

label {
    margin: 10px 0;
}

#footer {
    text-align: center;
    padding: 10px 0;
    background-color: #A9D6E5;
    border-radius: 0 0 8px 8px;
}

#main_page_link {
    color: white;
    text-decoration: none;
}