<html lang="pl-PL">
<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/x-icon" href="/public/img/favicon.ico">
    <title>Biblioteka</title>
    <link rel="stylesheet" href = "/public/css/login.css" type="text/css">
</head>
<body>
<div id="container">
    <div id="banner">
        <h1>Biblioteka</h1>
        <img src="/public/img/logo.svg" alt="logo">
    </div>
    <div id="main_content" class="flex-column-center-center">
        <form action="" method="POST" class="flex-column-center-center">
            <input class="userButton" type="password" name="password" placeholder="Nowe hasło" required> <br>
            <input class="userButton" type="password" placeholder="Powtórz hasło" required> <br>
            <input id="loginButton" type="submit" value="Zatwierdź">
        </form>
    </div>
    <div id="footer">
        <p>Contact details: illiashenkoalex@gmail.com</p>
    </div>
</div>
</body>
</html>